3ETool >= 0.4.0
ctREFPROP == 0.8.2
matplotlib~=3.4.0
numpy~=1.20.1
scipy~=1.6.1
requests~=2.25.1
pyrebase4
smt~=1.0.0
fortranformat
UNISIM_connector
EES_connector>=0.2.5
REFPROP_connector
pandas~=1.3.0
lhsmdu~=1.1
future
sty
tqdm
xlsxwriter